@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your Favorite Music Collection</h1>
    <p class="lead">Application to manage artist, album, track, and their media items.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artist</h2>
        <ul>
            <li>View all artists and one artist</li>
            <li>Create new artists</li>
            <li>Add media items to artist</li>
            <li>Add new album to artist</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Album</h2>
        <ul>
            <li>View all albums and one album</li>
            <li>Add new track to album</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Track</h2>
        <ul>
            <li>View all tracks and one track</li>
            <li>Add audio to track</li>
            <li>Edit (upload audio) track</li>
            <li>Delete track</li>
        </ul>
    </div>
</div>